{% extends "indexapp/base.html" %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
</head>


<!-- banner principal -->

<div class="banner-principal mt-5">
    <div class="card  text-white h-100 d-flex">
        <img src="static/img/banner-spider.jpg" class="card-img h-100 "  alt="...">
        <div class="card-img-overlay text-center h-100 ">
            <div class="row g-0 m-auto h-100 container-info">
                <div class="col-md-6 m-auto info2">
                    <div class="card-body text-banner">
                        <h5 class="card-title titulo3-blanco text-break">Hasta un 60% de Desc.</h5>
                        <h5 class="card-title titulo1-blanco display-3">ULTIMAS <br> REBAJAS</h5>
                        <button href="" class="btn-banner border-0 titulo1" onclick="this.blur();">Ver Mas</button>
                    </div>
                </div> 
                <div class="col-md-6 m-auto container-img-slider"></div>
                 
            </div>
        </div>
    </div>
</div>



<!-- slider destacados -->
{% if nuevos %}
    <div class="content mt-5 " style="width: 100%; min-height: 60vh;" >
        <div class="container">
            <h2 class="my-4 text-center titulo3 fs-2 ">Lo Mas Nuevo</h2>
        </div>
        <div class="site-section bg-left-half  ">
            
            <div class="owl-2-style w-100"  >
                <div class="owl-carousel owl-2 ">
                    {% for nuevo in nuevos %}
                        <div class="media-29101  d-flex justify-content-center">
                            <a href="/productos/{{nuevo.slug}}" class="container-product text-decoration-none">
                                <div class="container-img">
                                    <img src="{{nuevo.imagenes.last.imagen.url}}" alt="Image" class="img-fluid img-slider-dest img2" id="img1">
                                    <img src="{{nuevo.imagenes.first.imagen.url}}" alt="Image" class="img-fluid img-slider-dest" id="img2">
                                </div>
                                <div class="text-center p-3">
                                    <p class="card-text titulo3 m-0 fs-5">{{nuevo.nombre}}</p>
                                    <p class="card-text titulo1 ">${{nuevo.precio}}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>        
{% else %}
    <section class="m-5"></section>
{% endif %}


<!-- secciones -->
<div class="secciones mt-5">
    <div class="card-group mx-5 mb-3">
        <a href="/categorias/celular" class="card-seccion card mx-3 border-0" style="flex-grow: 1.5; ">
            <div class="card bg-dark text-white h-100 border-0" >
                <img src="static/img/box-banner2.jpg" class="card-img h-100"  alt="...">
                <div class="card-img-overlay d-flex  align-items-end">
                    <div>
                        <h5 class="card-title titulo3-blanco fs-2 fw-normal">Spider-Man</h5>
                        <button class="btn btn-box-banner titulo3 fs-5 px-3" onclick="this.blur();">
                            Ver mas
                        </button>
                    </div>
                </div>
            </div>
        </a>
        <a class="card-seccion card  border-0">
            <div class="card bg-dark text-white h-100 border-0">
                <img src="static/img/box-banner3.webp" class="card-img h-100"  alt="...">
                <div class="card-img-overlay d-flex  align-items-end">
                    <div>
                        <h5 class="card-title titulo3-blanco fs-2 fw-normal" >Anime</h5>
                        <button class="btn btn-box-banner titulo3 fs-5 px-3" onclick="this.blur();">
                            Ver mas
                        </button>
                    </div>
                </div>
              </div>
        </a>
    </div>
    <div class="card-group mx-5 mt-3">
        <a class="card-seccion card mx-3 border-0">
            <div class="card bg-dark text-white h-100 border-0" >
                <img src="static/img/box-banner1.jpg" class="card-img h-100"  alt="...">
                <div class="card-img-overlay d-flex  align-items-end">
                    <div>
                        <h5 class="card-title titulo3-blanco fs-2 fw-normal">Marvel</h5>
                        <button class="btn btn-box-banner titulo3 fs-5 px-3 " onclick="this.blur();">
                            Ver mas
                        </button>
                    </div>
                </div>
              </div>
        </a>
        <a class="card-seccion card  border-0"  style="flex-grow: 1; ">
            <div class="card bg-dark text-white h-100 border-0">
                <img src="static/img/box-banner4.jpg" class="card-img h-100"  alt="...">
                <div class="card-img-overlay d-flex  align-items-end">
                    <div>
                        <h5 class="card-title titulo3-blanco fs-2 fw-normal">Termos</h5>
                        <button class="btn btn-box-banner titulo3 fs-5 px-3" onclick="this.blur();">
                            Ver mas
                        </button>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- slider descuentos -->
{% if desc %}
    <div class="content mt-5 container-desc">
        <div class="container">
            <h2 class="my-4 text-center titulo3 fs-2">Descuentos</h2>
        </div>
        <div class="site-section bg-left-half  ">
            
            <div class="container owl-3-style w-100"  >
                <div class="owl-carousel owl-3 ">
                    {% for descuento in desc %}
                        <div class="media-29101 d-flex justify-content-center">
                            <a href="/productos/{{descuento.slug}}" class="container-product text-decoration-none">
                                <div class="container-img">
                                    <img src="{{descuento.imagenes.last.imagen.url}}" alt="Image" class="img-fluid img-slider-nuevo img2" id="img1">
                                    <img src="{{descuento.imagenes.first.imagen.url}}" alt="Image" class="img-fluid img-slider-nuevo" id="img2">
                                </div>
                                <div class="text-center p-3">
                                    <p class="card-text titulo3 m-0 fs-5">{{descuento.nombre}}</p>
                                    <p class="card-text titulo1 ">${{descuento.precio}}</p>
                                </div>
                                
                            </a>
                        </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>        
{% else %}
    <section class="m-5"></section>
{% endif %}



<div class="mt-5">
    <h5 class="text-center mb-4 titulo3 fs-2">Recomedaciones</h5>
    <div class="cards-recom card-group m-auto justify-content-around">
        <a class="card h-100 border-0 m-3 text-decoration-none">
            <img src="static/img/reloj.webp" class="card-img-top img-recom"  alt="...">
            <div class="card-body text-center">
                <h5 class="card-title titulo1 fs-4">Relojes</h5>
                <p class="card-text fs-5 titulo3">lleva un mejor accesorio</p>
                <button class="btn btn-box-banner titulo3 fs-5 px-3" onclick="this.blur();">
                    Ver mas
                </button>
            </div>
        </a>
        <a class="card h-100 border-0 m-3 text-decoration-none">
            <img src="static/img/playera.webp" class="card-img-top img-recom"  alt="...">
            <div class="card-body text-center">
                <h5 class="card-title titulo1 fs-4 ">Playeras</h5>
                <p class="card-text fs-5 titulo3">Viste con estilo</p>
                <button class="btn btn-box-banner titulo3 fs-5 px-3" onclick="this.blur();">
                    Ver mas
                </button>
            </div>
        </a>
        <a class="card h-100 border-0 m-3 text-decoration-none">
            <img src="static/img/mochila.webp" class="card-img-top img-recom" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title titulo1 fs-4">Mochilas</h5>
                <p class="card-text fs-5 titulo3">Completa tu outfit</p>
                <button class="btn btn-box-banner titulo3 fs-5 px-3" onclick="this.blur();">
                    Ver mas
                </button>
            </div>
            
        </a>
    </div>
</div>




<script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
<script src='{% static "js/popper.min.js"%}'></script>
<script src='{% static "js/bootstrap.min.js"%}'></script>
<script src='{% static "js/owl.carousel.min.js" %}'></script>
<script src='{% static "js/index.js" %}'></script>

{% endblock %}