{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block account %}
	<h1 class="text-center titulo3">SIGN UP</h1>
	<p class="titulo3">{% blocktrans %}Already have an account? Then please <a class="titulo3" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  
	<form class="signup titulo3" id="signup_form" method="post" action="{% url 'account_signup' %}">
	  {% csrf_token %}
	  {{ form | crispy}}
	  {% if redirect_field_value %}
	  	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	  {% endif %}
	  <div class="d-flex flex-column mt-3">
		<button class="btn btn-primary  mt-3 m-auto btn-login text-uppercase fw-bold titulo2-blanco" type="submit">Sign up <i class="bi bi-arrow-right"></i></button>
	  </div>
	
	<hr class="my-4">
	<div class="d-flex flex-column ">
		<a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-primary text-uppercase fw-bold facebook border-0" type="submit"><i class="bi bi-facebook"></i> Login with Facebook</a>
		<a href="/accounts/google/login" id="google_login" class="btn btn-primary mt-2 text-uppercase fw-bold google border-0"  type="submit"></i><i class="bi bi-google"></i> Sign in with Google+</a>
	</div>

	  
	</form>

{% endblock %}
