/* titulo pagina */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
/* subtitulos nav */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

:root{
    --color-negro:#000000;
    --color-azul: #14213d;
    --color-amarillo:#fca311;
    --color-gris:#e5e5e5;
    --color-blanco:#ffffff;
    --color-red:#d90429;

    --texto1:'Rubik', sans-serif;
    --subtitulo:'Libre Franklin', sans-serif;
    --titulo:'Fugaz One', cursive;

    --BottomOffset: 0px;
    --LineHeight: 2px;
    --LineColor: var(--color-negro);
}
/* titulos */
.titulo1{
    font-family: var(--titulo);
    color: var(--color-negro);
}
.titulo1-blanco{
    font-family: var(--titulo);
    color: var(--color-blanco);
}
.titulo2{
    font-family: var(--titulo);
    color: var(--color-amarillo);
}
.titulo3{
    font-family:var(--text1) ;
    font-weight: 300;
    color: var(--color-negro);
}
.titulo3-blanco{
    font-family:var(--text1) ;
    font-weight: 300;
    color: var(--color-blanco);
}


.navbar{
    position: fixed;
    z-index: 3;
    top:0;
    background-color: var(--color-blanco);
}
.title-nav{
    font-family: 'Fugaz One', cursive;
}
.nav-link{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    position: relative;
	z-index: 1;
}

.nav-link::before{
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    background: var(--LineColor);
    width: 0;
    height: var(--LineHeight);
    bottom: var(--BottomOffset);
	border-radius:var(--LineHeight);
    left: 50%;
    transition: 0.6s cubic-bezier(0.25, 0.1, 0, 2.02);
}
.nav-link:hover::before{
    width: calc(100% + var(--LineHeight));
    left: calc(var(--LineHeight) / -2);
}
