.banner-promos{
    height: 10vh;
}

/* banner principal */
.banner-principal{
    height: 55vh;
    background-color: black;
    background-image: url('static/img/banner-marvel.png');
}
.banner-principal img{
    object-fit:cover;
    object-position: center center;
}
.text-banner{
    position: relative;
    z-index: 1;
}

.icon-banner{
    color: var(--color-gris);
}
.btn-banner{
    padding:10px 70px;
    background-color: var(--color-negro);
    text-decoration: none;
    border-radius: 20px;
    transition: .3s all;
}
.btn-banner:hover{
    background-color: var(--color-amarillo);
    color: var(--color-blanco);
}

/*slider nuevo */

.img-slider-dest{
    height: 45vh;
    object-fit:cover;
    opacity: 1;
}
.container-img{
    position: relative;
}
.img2{
    opacity: 0;
    position:absolute;
    transition: .7s all;
}
.container-product:hover .img2{
    opacity: 1;
}

/* secciones */

.card-seccion{
    height: 50vh;
    transition: transform .2s;
    overflow: hidden; 
}
.card-seccion img{
    object-fit: cover;
    transition: all .4s ease;
    width:100%;
}
.card-seccion:hover img{
    transform:scale(1.1);
    opacity:0.6;
}
.btn-box-banner{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    transition: .5s all;
}
.btn-box-banner:hover{
    background-color: var(--color-amarillo);
    color: var(--color-blanco);
}

/* descuentos */
.container-desc{
    width: 100%; 
    min-height: 50vh;
}
.img-slider-nuevo{
    height: 40vh;

}

/* recomendaciones */
.cards-recom{
    min-height: 50vh;
    width: 90%;
}
.img-recom{
    height: 40vh;
    object-fit: cover;
}


