.lista_productos{
    padding-top: 7%;
}

/* barra de paginacion */
.page-link{
    color:var(--color-negro);
}

.page-link:hover{
    background-color: var(--color-amarillo);
    color: var(--color-blanco);
}


.container-img{
    position: relative;
}
.img2{
    opacity: 0;
    position:absolute;
    transition: .7s all;
}
.container-product:hover .img2{
    opacity: 1;
}


@media (max-width: 1000px){
    .imagen{
        height: 300px;
        
    }
}
@media (max-width: 400px){
    .imagen{
        height: 200px;
        
    }
}